src/backend/app/__pycache__/
src/backend/app/api/__pycache__/
src/backend/tests/__pycache__/
/.pytest_cache/
src/.pytest_cache/
src/backend/.pytest_cache/

src/frontend/node_modules/
src/frontend/dist/
src/frontend/.DS_Store
src/frontend/.env.local
src/frontend/.env.*.local

.env.local
.env.*.local
